{{- /*
  Event Calendar Partial
  Displays an interactive monthly calendar with event highlighting and linking
*/ -}}

{{- $events := slice -}}
{{- $eventsSection := site.GetPage "section" "events" -}}

{{- if $eventsSection -}}
  {{- range $eventsSection.RegularPagesRecursive.ByDate -}}
    {{- if not .Draft -}}

      {{- if and .Params.recurring (eq .Params.recurrence "weekly") .Params.recurrence_until -}}
        {{- $start := .Date -}}
        {{- $until := time .Params.recurrence_until -}}
        {{- $weeks := div (sub $until.Unix $start.Unix) 604800 -}}

        {{- range seq 0 $weeks -}}
          {{- $eventDate := $start.AddDate 0 0 (int (mul . 7)) -}}
          {{- $event := dict
            "date" ($eventDate.Format "2006-01-02")
            "title" $.Title
            "url" $.RelPermalink
            "location" ($.Params.location | default "")
          -}}
          {{- $events = $events | append $event -}}
        {{- end -}}

      {{- else -}}
        {{- $event := dict
          "date" (.Date.Format "2006-01-02")
          "title" .Title
          "url" .RelPermalink
          "location" (.Params.location | default "")
        -}}
        {{- $events = $events | append $event -}}
      {{- end -}}

    {{- end -}}
  {{- end -}}
{{- end -}}

<script>
  window.eventData = {{ $events | jsonify | safeJS }};
</script>

<div id="event-calendar" class="event-calendar-container"></div>

{{- $calendarJS := resources.Get "js/calendar.js" -}}
{{- if $calendarJS -}}
  <script src="{{ $calendarJS.RelPermalink }}" defer></script>
{{- else -}}
  <script>
    console.error("Calendar JS file not found at assets/js/calendar.js");
  </script>
{{- end -}}
